#calenderTable, #dCalenderTable {
        border: 1px solid #0c2bb5;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 700;
    position: absolute;
    display: none;
    table-layout: auto;
    top: 0;
    left: 0;
    z-index: 200;
}

#calenderTable {
    width: 220px;
}

    #calenderTable TD, #dCalenderTable TD {
        text-align: center;
        vertical-align: middle;
        height: 30px;
    }

#ctHead1 {
    background-color: #0c2bb5;
    height: 30px;
    color: #F3F3F3;
}

#ctHead2, #ctHead3 {
    background-color: #0c2bb5;
    color: #fff;
}

#calender TD {
    width: 40px;
}

#calender1 TD, #calender2 TD {
    width: 30px;
}

#mNext, #mPrev {
    text-align: center;
    width: 30px;
}

.hypLink {
    color: #fff;
}

#selectMonth {
    width: 80px!important;
    height: 20px;
    color: #CB4212;
    font-family: sans-serif;
    font-size: 11px;
}

#selectYear {
    width: 60px!important;
    height: 20px;
    color: #CB4212;
    font-family: sans-serif;
    font-size: 11px;
}

#calenderTable A {
    text-decoration: none;
    font-size: 9pt;
    font-family: sans-serif;
}

    #calenderTable A:hover {
        color: #C30;
        text-decoration: none;
    }

#dCalenderTable A {
    text-decoration: none;
    font-size: 9pt;
    font-family: sans-serif;
}

    #dCalenderTable A:hover {
        color: #C30;
        text-decoration: none;
    }

.wp {
    width: 30px;
}

.normalDay {
    cursor: pointer;
}

.hlDay {
    cursor: pointer;
    font-size: 11pt;
    color: #fff;
    font-weight: 700;
    background-color: #A2A2A2;
}

.toDay {
    color: #963;
    cursor: pointer;
    font-weight: 700;
}

.choosenDay {
    font-weight: 700;
    color: #CF0808;
}

.disabledDay {
    cursor: default;
    color: Silver;
}

.calendarSimpleImage {
    border-width: 0;
    width: 15px;
    height: 15px;
}
