.calenderLarge
{
    width: 100%;
    padding: 5px;
    border-collapse:collapse;
}

    .calenderLarge .dayHead td
    {
        font-size: 11pt;
        font-weight: bolder;
        text-align: center;
        background-color:#797979;
        color:#fff
        

    }

    .calenderLarge tr td
    {
        width: 14%;
        height: 25px;
        border: 1px solid #E7E7E7;
    }

    .calenderLarge .head
    {
        float: left;
        width: 100%;
        background-color: #BEBDBD;
        color: #000;
    }

    .calenderLarge .monthHead
    {
        font-size: 14pt;
        font-weight: 700;
        padding: 5px;
    }

    .calenderLarge .dayDiv
    {
        height: 100px;
        background-color: #BBBABA;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#BBBABA),to(#C5C5C5));
    background-image: -webkit-linear-gradient(#BBBABA,#C5C5C5);
    background-image: -moz-linear-gradient(#BBBABA,#C5C5C5);
    background-image: -ms-linear-gradient(#BBBABA,#C5C5C5);
    background-image: -o-linear-gradient(#BBBABA,#C5C5C5);
    background-image: linear-gradient(#BBBABA,#C5C5C5);
    }

        .calenderLarge .dayDiv:hover
        {
            background-color: #000;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(#505050));
    background-image: -webkit-linear-gradient(#000,#505050);
    background-image: -moz-linear-gradient(#000,#505050);
    background-image: -ms-linear-gradient(#000,#505050);
    background-image: -o-linear-gradient(#000,#505050);
    background-image: linear-gradient(#000,#505050);
    color:#fff;
            /*box-shadow: 3px 3px 3px #888;*/
        }

    .calenderLarge .BestFare
    {
        background-color: #7fffd4;
    }

.dayBest
{
    color: #FFD600;
    text-decoration: blink;
    font-weight: 700;
    padding-right:4px
}

.calenderLarge .caleDay
{
    font-size: 16px;
    font-weight: 700;
    color: #414141;
    padding: 5px;
    float: left;
    font-family: sans-serif;
}

.calenderLarge .dayBest
{
    float: right;
    font-size: 14px;
}

.calenderLarge .dayFare
{
    float: left;
    font-weight:bold;
    font-size: 19px;
    width: 100%;
    padding: 5px;
    color:#fff;
}
    .calenderLarge .dayFare:hover 
    {
        color:#FD6332;
    }
.calenderLarge .dayAirLine
{
    float: left;
    padding: 1px;
    width: 80%;
    font-size: 12px;
    text-align: left;
}

.imgIcon
{
    float: left;
    padding-top: 3px;
    padding-left: 2px;
}

.orPrice
{
    float: left;
    padding-left: 20px;
    font-size: 10px;
}

.calSearch
{
    width: 200px;
    background-color: #FFDACC;
    display: none;
    border: 5px solid #FD6332;
    border-radius: 10px;
}

.calFltrAir
{
    height: 290px;
    /*overflow-y: scroll;*/
}

.lnkOnly
{
    color: #00f;
    cursor: pointer;
    float: right;
    padding-top: 5px;
    display: none;
    padding-right: 15px;
}

.calPoiter
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FD6332;
    margin-left: 95px;
    margin-top: -20px;
}

.calClose
{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(../../../App_Themes/Images/cross.gif);
    background-repeat: no-repeat;
}

.rtCal .calenderMedium .PrewMonth
{
    float: left;
    left: 2px;
    background: #fff;
    border: 0;
    font-weight: 700;
    font-size: 14pt;
}

.calenderMedium
{
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    background-color: #CECECE;
}

    .calenderMedium .dayHead td
    {
        font-size: 10pt;
        font-weight: bolder;
        text-align: center;
    }

    .calenderMedium tr td
    {
        width: 14%;
        height: 15px;
        border: 1px solid #B1B1B3;
        font-weight: bolder;
    }

    .calenderMedium .dayFare
    {
        font-size: 9px;
    }
    
    .calenderMedium .NextMonth
    {
        float: right;
        background: #fff;
        right: 2px;
        border: 0;
        font-weight: 700;
        font-size: 14pt;
    }

    .calenderMedium .PrewMonth
    {
        float: left;
        background: #fff;
        border: 0;
        font-weight: 700;
        font-size: 14pt;
    }

    .calenderMedium .monthHead
    {
        font-size: 12pt;
        font-weight: 700;
        padding: 5px;
    }

    .calenderMedium .dayDiv
    {
        height: 35px;
    }

        .calenderMedium .dayDiv:hover
        {
            background-color: #B5B2BD;
            box-shadow: 3px 3px 3px #888;
        }

    .calenderMedium .sDay
    {
        background-color: #fff;
    }

.calenderSmall
{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 2px 2px 12px #D1D1D1;
}

    .calenderSmall .dayHead td
    {
        font-size: 8pt;
        font-weight: bolder;
        text-align: center;
    }

    .calenderSmall tr td
    {
        width: 14%;
        height: 15px;
        border: 1px solid #B1B1B3;
        font-weight: bolder;
        text-align:center;
    }

    .calenderSmall .NextMonth
    {
        float: right;
        background: #fff;
        border: 0;
        font-weight: 700;
        font-size: 10pt;
        height: 15px;
    }

    .calenderSmall .PrewMonth
    {
        float: left;
        background: #fff;
        border: 0;
        font-weight: 700;
        font-size: 10pt;
        height: 15px;
    }

    .calenderSmall .monthHead
    {
        font-size: 10pt;
        font-weight: 700;
    }

    .calenderSmall .dayDiv:hover
    {
        background-color: #afafaf;
    }

    .calenderSmall .sDay
    {
        background-color: #ef766a;
    }

.PrewMonth
{
    left: 2px;
    float: left;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    background-color: transparent;
}

.NextMonth
{
    right: 2px;
    float: right;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    background-color: transparent;
}

.fareFlightDet
{
    border-collapse: collapse;
    text-align: left;
}

    .fareFlightDet tr td, .fareFlightDet tr th
    {
        border: 1px solid #bdbfbf;
    }

.headCal
{
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color:#E6E6E6;
}

.monthHead
{
    display: inline-block;
}
